In [7]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [8]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
1)loc:

The loc function is label-based and primarily uses labels or names to index and access rows or columns in a DataFrame.
It allows you to access rows and columns using the row and column labels directly.
You can use boolean arrays or conditional expressions with loc to select rows or columns based on specific conditions.
When using loc, the indexing range is inclusive of both the start and end points.

2)iloc:

The iloc function is integer-based and primarily uses integer positions to index and access rows or columns in a DataFrame.
It allows you to access rows and columns using integer-based indexing, where the index starts from 0 for the first row or column.
You can use integer-based indexing and slicing with iloc to select rows or columns based on integer positions.
When using iloc, the indexing range is exclusive of the end point.

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [19]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

In [20]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [21]:
print(new_df.loc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object

In [22]:
print(new_df.iloc[2])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
1)For new_df.loc[2]:

The output will be the row with index label 2 in the new_df DataFrame after reindexing.
Since we used loc indexing, the index label is used as the reference.
In this case, the row with index label 2 is the second row of the original DataFrame (df) after reindexing.
The output will include the 'course_name' and 'duration' values for that row.

2)For new_df.iloc[2]:

The output will be the row at the integer position 2 in the new_df DataFrame after reindexing.
Since we used iloc indexing, the integer position is used as the reference.
In this case, the row at integer position 2 is the third row of the original DataFrame (df) after reindexing.

# NEW CODE

In [1]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [2]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.220558  0.426633  0.771113  0.128182  0.476268  0.153867
2  0.236027  0.735308  0.533039  0.084896  0.501812  0.401961
3  0.707928  0.176250  0.434858  0.183094  0.453710  0.587320
4  0.004583  0.803298  0.135145  0.061456  0.350752  0.474806
5  0.613650  0.991330  0.985876  0.056122  0.338444  0.855357
6  0.599134  0.432067  0.121526  0.657637  0.037260  0.904511

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:

# (i) 	mean of each and every column present in the dataframe.

# (ii) standard deviation of column, ‘column_2’

In [3]:
df1.mean()

column_1    0.396980
column_2    0.594148
column_3    0.496926
column_4    0.195231
column_5    0.359708
column_6    0.562970
dtype: float64

In [4]:
df1['column_2'].std()

0.3001312902927187

In [5]:
# Also :
# (i) Mean of each column
mean_per_column = df1.mean()
print("Mean of each column:")
print(mean_per_column)

# (ii) Standard deviation of 'column_2'
std_column_2 = df1['column_2'].std()
print("\nStandard deviation of 'column_2':")
print(std_column_2)

Mean of each column:
column_1    0.396980
column_2    0.594148
column_3    0.496926
column_4    0.195231
column_5    0.359708
column_6    0.562970
dtype: float64

Standard deviation of 'column_2':
0.3001312902927187

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.

# If you are getting errors in executing it then explain why.

# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [10]:
# Replace data in the second row of 'column_2' with a string value
df1.loc[2, 'column_2'] = 'your_string_value'

# Calculate the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()
print("Mean of 'column_2':")
print(mean_column_2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
However, in this case, you might encounter an error because the 'column_2' originally contains numeric data, and replacing it with a string value would result in a mixed data type column. Pandas usually expects columns to have a consistent data type. Mixing different data types within a column can result in unexpected behavior and hinder data processing operations like mean calculation.

If you replace the numeric value in 'column_2' with a string value, pandas will try to cast the column to a common data type, which in this case would be an object (string) data type. Consequently, the mean calculation would not be possible because the column would contain a mix of string and numeric values.

If you want to work with numerical data, it is recommended to replace the data in 'column_2' with another numeric value instead of a string.

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In [ ]:
In pandas, the "window function" refers to a group of functions that operate on a specified window or a rolling window of data within a DataFrame or Series. These functions provide a way to perform calculations and transformations on subsets of data defined by the window.

The window functions in pandas can be categorized into the following types:

1)Aggregation Functions:

These functions calculate a single aggregated value over a specified window of data. Examples include sum(), mean(), max(), min(), count(), etc. These functions reduce the windowed data into a single value.

2)Transformation Functions:

These functions perform transformations on the data within a window, such as scaling or normalizing the data. Examples include rank(), diff(), pct_change(), shift(), etc. These functions return a windowed output with the same size as the input.

3)Rolling Functions:

These functions perform rolling computations over a specified window of data. Examples include rolling_sum(), rolling_mean(), rolling_max(), rolling_min(), rolling_apply(), etc. These functions calculate aggregates or apply custom functions over a moving window.

4)Expanding Functions:

These functions perform expanding calculations that consider all the data from the start of the series up to the current point. Examples include expanding_sum(), expanding_mean(), expanding_max(), expanding_min(), expanding_apply(), etc. These functions produce cumulative aggregates.

5)Rolling Time Window Functions:

These functions perform rolling computations over a specified time-based window. Examples include rolling().sum(), rolling().mean(), rolling().max(), rolling().min(), rolling().apply(), etc. These functions are used for time series analysis where the window is defined by a time interval.

# Q7. Write a code to print only the current month and year at the time of answering this question.

# [Hint: Use pandas.datetime function]

In [11]:
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Extract the month and year from the current date
current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: 6
Current year: 2023

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [16]:
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input dates to pandas DateTime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the time difference
time_diff = date2 - date1

# Extract the difference in days, hours, and minutes
days_diff = time_diff.days
hours_diff = time_diff.seconds // 3600
minutes_diff = (time_diff.seconds // 60) % 60

# Display the result
print("Time difference: {} days, {} hours, {} minutes".format(days_diff, hours_diff, minutes_diff))

Enter the first date (YYYY-MM-DD):  2023-01-29
Enter the second date (YYYY-MM-DD):  2024-01-29

Time difference: 365 days, 0 hours, 0 minutes

# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the CSV file path: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Prompt the user to enter the column name
column_name = input("Enter the column name: ")

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated values): ").split(',')

# Convert the specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the DataFrame by the specified column
sorted_df = df.sort_values(by=column_name)

# Display the sorted data
print(sorted_df)

Enter the CSV file path:  services.csv

# Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def visualize_sales_data():
    # Prompt the user to enter the file path
    file_path = input("Enter the file path of the CSV file: ")
    
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Plot the stacked bar chart
    df.plot(x='Date', kind='bar', stacked=True)
    
    # Set the labels and title
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Sales Data by Product Category')
    
    # Display the chart
    plt.show()

# Call the function to visualize the sales data
visualize_sales_data()

# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results 
in a table

In [7]:
import csv

data = [
    ['Students_Id', 'Test Score'],
    [1,85],
    [2,90],
    [3,80],
    [4,75],
    [5,85],
    [6,82],
    [7,78],
    [8,85],
    [9,90],
    [10,85]
    
]

filename = 'Student_Data.csv'

with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print(f'{filename} has been created successfully!')

Student_Data.csv has been created successfully!

In [9]:
with open("Student_Data.csv",'r') as f :
    read_data = csv.reader(f)
    
    for i in read_data:
        print(i)

['Students_Id', 'Test Score']
['1', '85']
['2', '90']
['3', '80']
['4', '75']
['5', '85']
['6', '82']
['7', '78']
['8', '85']
['9', '90']
['10', '85']

In [10]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

# Create a table to display the results
table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                      'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]})

# Display the table
print(table)

Enter the file path of the CSV file containing the student data:  Student_Data.csv

  Statistic Value
0      Mean  83.5
1    Median  85.0
2      Mode    85

In [2]:
# THE END